In [162]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [163]:
from __future__ import print_function
import csv as csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#mpl.rcParams.update({'axes.labelsize': 20})
import copy
import re

In [164]:
route_df = pd.read_csv('Race_data_team_splits_checkpoints.csv', header=0)

In [165]:
route_df['team ID'] = route_df['Name'].map(lambda x: int(x[:3]))
route_df['Team Name'] = route_df['Name'].map(lambda x: x[4:].strip())
route_df['Checkpoint'] = route_df['Checkpoint'].str.replace(r"\(","")
route_df['Checkpoint'] = route_df['Checkpoint'].str.replace(r"\)","")
route_df.columns = ['Name', 'Checkpoint', 'Total Time', 'Split', 'team ID', 'Team Name']
route_df = route_df.drop('Name', 1)

In [166]:
cols = route_df.columns.tolist()
cols = cols[-2:] + cols[:-2]
route_df = route_df[cols]

In [167]:
route_df.to_csv('clean_data/team_routes.csv')

In [168]:
route_df.head(20)

    team ID      Team Name Checkpoint Total Time    Split
0       285  NimKik Skulls        105    0:13:04  0:13:04
1       285  NimKik Skulls        126    0:27:33  0:14:29
2       285  NimKik Skulls        143    0:45:17  0:17:44
3       285  NimKik Skulls        103    1:11:47  0:26:30
4       285  NimKik Skulls        132    1:26:53  0:15:06
5       285  NimKik Skulls        140    1:41:00  0:14:07
6       285  NimKik Skulls        141    2:15:35  0:34:35
7       285  NimKik Skulls        110    2:30:45  0:15:10
8       285  NimKik Skulls        109    2:45:03  0:14:18
9       285  NimKik Skulls        111    2:49:09  0:04:06
10      285  NimKik Skulls          F    2:52:03  0:02:54
11      286       Team 3DZ        109    0:04:59  0:04:59
12      286       Team 3DZ        106    0:12:33  0:07:34
13      286       Team 3DZ        118    0:27:12  0:14:39
14      286       Team 3DZ        104    0:50:24  0:23:12
15      286       Team 3DZ        131    1:11:19  0:20:55
16      286       Team 3DZ        133    1:41:54  0:30:35
17      286       Team 3DZ        119    1:55:58  0:14:04
18      286       Team 3DZ        128    2:14:30  0:18:32
19      286       Team 3DZ          F    2:56:23  0:41:53

In [169]:
team_df = pd.read_csv('registration_list.csv', header=0)
score_df = pd.read_csv('Team_place_time_score.csv', header=None)

In [170]:
team_df['test'] = team_df['Team Name'].map(lambda x: ''.join(x.split(' ')).strip())

In [198]:
team_df.describe()

          Size  time_limit
count  79.0000     79.0000
mean    1.9114      5.2025
std     0.9499      1.3338
min     1.0000      3.0000
25%     1.0000      3.0000
50%     2.0000      6.0000
75%     2.0000      6.0000
max     5.0000      6.0000

In [172]:
score_df.columns = ['Rank', 'Name', 'Class', 'Club', 'Time', 'Score', 'Gross Score', 'Penalty', 'time_limit']

In [173]:
score_df['team ID'] = score_df['Name'].map(lambda x: int(x[:3]))
score_df['Team Name'] = score_df['Name'].map(lambda x: x[4:].strip())
score_df['test'] = score_df['Team Name'].map(lambda x: ''.join(x.split(' ')).strip())

In [174]:
score_df[score_df['Team Name'].str.contains('Cycle')]

,Rank,Name,Class,Club,Time,Score,Gross Score,Penalty,time_limit,team ID,Team Name,test
17,17,459 American Adventure Sports Cycle Shop,EB6,NaN,NaN,710,710,0,6,459,American Adventure Sports Cycle Shop,AmericanAdventureSportsCycleShop

In [199]:
score_df.describe()

         Rank  Time      Score  Gross Score   Penalty  time_limit   team ID
count  71.000     0    73.0000      73.0000   73.0000     73.0000   73.0000
mean   21.831   NaN   466.8493     493.1507   26.3014      5.2192  393.9452
std    15.145   NaN   294.0279     261.1560   89.5282      1.3255   64.7540
min     1.000   NaN  -220.0000      20.0000    0.0000      3.0000  275.0000
25%     9.500   NaN   260.0000     300.0000    0.0000      3.0000  401.0000
50%    17.000   NaN   520.0000     520.0000    0.0000      6.0000  419.0000
75%    34.500   NaN   710.0000     710.0000    0.0000      6.0000  439.0000
max    53.000   NaN  1170.0000    1200.0000  510.0000      6.0000  459.0000

In [175]:
test_df = pd.merge(team_df, score_df, on='test', how='right')

In [176]:
test_df[test_df['Size'].isnull()]

,Team Name_x,Category,Size,Borrow,time_limit_x,test,Rank,Name,Class,Club,Time,Score,Gross Score,Penalty,time_limit_y,team ID,Team Name_y
69,NaN,NaN,NaN,NaN,NaN,FindersKeepers,14,406 Finders Keepers,EM6,NaN,NaN,740,740,0,6,406,Finders Keepers
70,NaN,NaN,NaN,NaN,NaN,AmericanAdventureSportsCycleShop,17,459 American Adventure Sports Cycle Shop,EB6,NaN,NaN,710,710,0,6,459,American Adventure Sports Cycle Shop
71,NaN,NaN,NaN,NaN,NaN,Team3DZ,7,286 Team 3DZ,EM3,NaN,NaN,180,180,0,3,286,Team 3DZ
72,NaN,NaN,NaN,NaN,NaN,TeamImmelmann,10,276 Team Immelmann,EB3,NaN,NaN,120,120,0,3,276,Team Immelmann

In [177]:
test_df.loc[test_df['team ID'] == 459, 'Borrow'] = 'Y'
test_df.loc[test_df['team ID'] == 459, 'Size'] = 4
test_df.loc[test_df['team ID'] == 286, 'Borrow'] = 'Y'
test_df.loc[test_df['team ID'] == 286, 'Size'] = 5
test_df.loc[test_df['team ID'] == 276, 'Borrow'] = 'Y'
test_df.loc[test_df['team ID'] == 276, 'Size'] = 2

In [178]:
test_df = test_df[test_df['Size'].notnull()]

In [179]:
test_df = test_df.drop('Team Name_x', 1)
test_df = test_df.drop('time_limit_x', 1)
test_df = test_df.drop('Name', 1)
test_df = test_df.rename(columns={'Team Name_y': 'Team Name', 'time_limit_y': 'Time Limit'})

In [181]:
test_df.head()

,Category,Size,Borrow,test,Rank,Class,Club,Time,Score,Gross Score,Penalty,Time Limit,team ID,Team Name
0,"Masters, Mixed",2,Y,BeeRingers,10,MB6,NaN,NaN,780,780,0,6,401,BeeRingers
1,"Masters, Men",2,Y,HighandDry,NaN,MM6,NaN,NaN,400,400,0,6,403,High and Dry
2,"Masters, Men",2,Y,HighandDry,53,MM6,NaN,NaN,-180,330,510,6,403,High and Dry
3,"Masters, Mixed",2,N,TeamSpang,NaN,MB6,WPOC,NaN,790,790,0,6,404,Team Spang
4,"Masters, Men",1,N,YakiBarak,37,MM6,WPOC,NaN,500,500,0,6,405,Yaki Barak

In [182]:
cols = test_df.columns.tolist()
cols = cols[-2:] + cols[:-2]
temp = cols[-4]
del cols[-4]
cols.append(temp)
temp = cols[-2]
del cols[-2]
cols.insert(2, temp)
test_df = test_df[cols]

In [187]:
test_df.head()

,team ID,Team Name,Time Limit,Category,Size,Borrow,test,Rank,Class,Club,Time,Gross Score,Penalty,Score
0,401,BeeRingers,6,"Masters, Mixed",2,Y,BeeRingers,10,MB6,NaN,NaN,780,0,780
1,403,High and Dry,6,"Masters, Men",2,Y,HighandDry,NaN,MM6,NaN,NaN,400,0,400
2,403,High and Dry,6,"Masters, Men",2,Y,HighandDry,53,MM6,NaN,NaN,330,510,-180
3,404,Team Spang,6,"Masters, Mixed",2,N,TeamSpang,NaN,MB6,WPOC,NaN,790,0,790
4,405,Yaki Barak,6,"Masters, Men",1,N,YakiBarak,37,MM6,WPOC,NaN,500,0,500

In [184]:
test_df.to_csv('clean_data/team_info_score.csv')

### Prepare data for model

In [228]:
model_df = test_df.drop(['Team Name', 'Category', 'test', 'Rank', 'Time', 'Gross Score'], 1)

In [232]:
model_df['Club_b'] = model_df['Club'].fillna(0).map( { 0: 0, 'WPOC': 1 })
model_df['Penalty_b'] = model_df['Penalty'].map(lambda x: 0 if x == 0 else 1)
model_df['Borrow_b'] = model_df['Borrow'].map( { 'N': 0, 'Y': 1 } )

In [268]:
model_df.head()

72

In [234]:
model_hour3_df = model_df[ model_df['Time Limit'] == 3 ]
model_hour6_df = model_df[ model_df['Time Limit'] == 6 ]

In [237]:
model_hour3_df = pd.concat([model_hour3_df, pd.get_dummies(model_hour3_df['Class'])], axis=1)
model_hour6_df = pd.concat([model_hour6_df, pd.get_dummies(model_hour6_df['Class'])], axis=1)

In [238]:
model_hour3_df = model_hour3_df.drop(['Borrow', 'Class', 'Club', 'Penalty'], 1)
model_hour6_df = model_hour6_df.drop(['Borrow', 'Class', 'Club', 'Penalty'], 1)

### Adding checkpoints visited to model

In [255]:
route_df.head()

   team ID      Team Name Checkpoint Total Time    Split
0      285  NimKik Skulls        105    0:13:04  0:13:04
1      285  NimKik Skulls        126    0:27:33  0:14:29
2      285  NimKik Skulls        143    0:45:17  0:17:44
3      285  NimKik Skulls        103    1:11:47  0:26:30
4      285  NimKik Skulls        132    1:26:53  0:15:06

In [279]:
checkpoints_by_team = route_df.dropna().groupby('team ID')['Checkpoint'].apply(lambda x: x.tolist())
len(checkpoints_by_team.index)

70

In [280]:
checkpoint_array = np.zeros((70,51))
checkpoint_array

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [282]:

for i,teamID in enumerate(checkpoints_by_team.keys()):
    checkpoint_array[i,0] = np.int(teamID)
    for checkpoint in checkpoints_by_team[teamID]:
        if checkpoint =='F' or checkpoint == 'nan':
            continue
        idx = np.int(checkpoint) - 100
        checkpoint_array[i, idx] = 1
    #print(teamID, checkpoints_by_team[teamID])

In [286]:
checkpoint_array[:,1:]

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  1., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  1.,  1., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  1.,  1.],
       [ 1.,  1.,  1., ...,  1.,  0.,  0.]])

In [292]:
columns = ['team ID',]
columns.extend([ '{}'.format(x) for x in np.arange(101,151)])
checkpoint_df = pd.DataFrame.from_records(checkpoint_array, columns=columns)

In [293]:
checkpoint_df.head()

,team ID,101,102,103,104,105,106,107,108,109,...,141,142,143,144,145,146,147,148,149,150
0,275,0,0,0,1,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,276,0,0,1,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,277,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,278,1,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
4,279,0,1,0,1,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [294]:
model_checkpoints_df = pd.merge(model_df, checkpoint_df, on='team ID', how='right')

In [298]:
model_checkpoints_df.head()

,team ID,Time Limit,Size,Borrow,Class,Club,Penalty,Score,Club_b,Penalty_b,...,141,142,143,144,145,146,147,148,149,150
0,401,6,2,Y,MB6,NaN,0,780,0,0,...,1,0,1,0,0,0,0,0,1,1
1,405,6,1,N,MM6,WPOC,0,500,1,0,...,0,0,0,1,0,1,1,1,0,0
2,407,6,1,Y,EM6,WPOC,0,440,1,0,...,0,0,0,1,1,1,1,1,0,0
3,408,6,2,Y,EM6,NaN,0,460,0,0,...,0,0,0,0,0,0,0,0,0,0
4,409,6,2,N,VB6,NaN,0,670,0,0,...,1,1,1,0,0,0,0,0,1,1

In [299]:
model_checkpoints_hour3_df = model_checkpoints_df[ model_checkpoints_df['Time Limit'] == 3 ]
model_checkpoints_hour6_df = model_checkpoints_df[ model_checkpoints_df['Time Limit'] == 6 ]

In [300]:
model_checkpoints_hour3_df = pd.concat([model_checkpoints_hour3_df, pd.get_dummies(model_checkpoints_hour3_df['Class'])], axis=1)
model_checkpoints_hour6_df = pd.concat([model_checkpoints_hour6_df, pd.get_dummies(model_checkpoints_hour6_df['Class'])], axis=1)

In [301]:
model_checkpoints_hour3_df = model_checkpoints_hour3_df.drop(['Borrow', 'Class', 'Club', 'Penalty'], 1)
model_checkpoints_hour6_df = model_checkpoints_hour6_df.drop(['Borrow', 'Class', 'Club', 'Penalty'], 1)

In [302]:
model_checkpoints_hour6_df.head()

,team ID,Time Limit,Size,Score,Club_b,Penalty_b,Borrow_b,101,102,103,...,149,150,EB6,EM6,EW6,MB6,MM6,MW6,VB6,VM6
0,401,6,2,780,0,0,1,0,1,1,...,1,1,0,0,0,1,0,0,0,0
1,405,6,1,500,1,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
2,407,6,1,440,1,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,408,6,2,460,0,0,1,0,1,1,...,0,0,0,1,0,0,0,0,0,0
4,409,6,2,670,0,0,0,0,1,1,...,1,1,0,0,0,0,0,0,1,0